<Menu>
	<Dishes>
		<Dish>
			<name>pizza</name>
			<difficultyRating>1</difficultyRating>
			<expectedCookTime>200</expectedCookTime>
			<reward>10</reward>
			<KitchenTools>
				<KitchenTool>
					<name>pumpia</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>knife</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>frozen pizza</name>
					<quantity>1</quantity>
				</Ingredient>
				<Ingredient>
					<name>tomato</name>
					<quantity>5</quantity>
				</Ingredient>
				<Ingredient>
					<name>soy cheese</name>
					<quantity>2</quantity>
				</Ingredient>
				<Ingredient>
					<name>salt</name>
					<quantity>3</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>pasta</name>
			<difficultyRating>2</difficultyRating>
			<expectedCookTime>300</expectedCookTime>
			<reward>15</reward>
			<KitchenTools>
				<KitchenTool>
					<name>knife</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>spoon</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>pasta</name>
					<quantity>2</quantity>
				</Ingredient>
				<Ingredient>
					<name>tomato</name>
					<quantity>4</quantity>
				</Ingredient>
				<Ingredient>
					<name>pepper</name>
					<quantity>4</quantity>
				</Ingredient>
				<Ingredient>
					<name>salt</name>
					<quantity>3</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>fishsticks</name>
			<difficultyRating>6</difficultyRating>
			<expectedCookTime>350</expectedCookTime>
			<reward>5</reward>
			<KitchenTools>
				<KitchenTool>
					<name>pan</name>
					<quantity>2</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>knife</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>spoon</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>soy fish</name>
					<quantity>10</quantity>
				</Ingredient>
				<Ingredient>
					<name>rice</name>
					<quantity>2</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>hamburger</name>
			<difficultyRating>4</difficultyRating>
			<expectedCookTime>700</expectedCookTime>
			<reward>40</reward>
			<KitchenTools>
				<KitchenTool>
					<name>pan</name>
					<quantity>2</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>knife</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>small pot</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>soy beans</name>
					<quantity>10</quantity>
				</Ingredient>
				<Ingredient>
					<name>bread</name>
					<quantity>1</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>rice</name>
			<difficultyRating>7</difficultyRating>
			<expectedCookTime>300</expectedCookTime>
			<reward>20</reward>
			<KitchenTools>
				<KitchenTool>
					<name>wok</name>
					<quantity>2</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>big pot</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>small pot</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>rice</name>
					<quantity>15</quantity>
				</Ingredient>
				<Ingredient>
					<name>tomato</name>
					<quantity>2</quantity>
				</Ingredient>
				<Ingredient>
					<name>salt</name>
					<quantity>1</quantity>
				</Ingredient>
				<Ingredient>
					<name>pepper</name>
					<quantity>1</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>humus</name>
			<difficultyRating>1</difficultyRating>
			<expectedCookTime>100</expectedCookTime>
			<reward>10</reward>
			<KitchenTools>
				<KitchenTool>
					<name>samll pot</name>
					<quantity>2</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>spoon</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>pumpia</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>humus</name>
					<quantity>7</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>fried potato</name>
			<difficultyRating>6</difficultyRating>
			<expectedCookTime>200</expectedCookTime>
			<reward>10</reward>
			<KitchenTools>
				<KitchenTool>
					<name>samll pot</name>
					<quantity>2</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>pan</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>tomato</name>
					<quantity>4</quantity>
				</Ingredient>
				<Ingredient>
					<name>soy cheese</name>
					<quantity>7</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>fried beans</name>
			<difficultyRating>4</difficultyRating>
			<expectedCookTime>350</expectedCookTime>
			<reward>15</reward>
			<KitchenTools>
				<KitchenTool>
					<name>samll pot</name>
					<quantity>2</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>knife</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>beans</name>
					<quantity>10</quantity>
				</Ingredient>
				<Ingredient>
					<name>tomato</name>
					<quantity>7</quantity>
				</Ingredient>
				<Ingredient>
					<name>salt</name>
					<quantity>2</quantity>
				</Ingredient>
				<Ingredient>
					<name>pepper</name>
					<quantity>2</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
	</Dishes>
</Menu>