<?xml version="1.0" ?> 
<Menu>
	<Dishes>
		<Dish>
			<name>Hasselback Potatoes</name>
			<difficultyRating>20</difficultyRating>
			<expectedCookTime>15000</expectedCookTime>
			<reward>30</reward>
			<KitchenTools>
				<KitchenTool>
					<name>Spoon</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Oven</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Knife</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Plate</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>Potato</name>
					<quantity>500</quantity>
				</Ingredient>
				<Ingredient>
					<name>Butter</name>
					<quantity>45</quantity>
				</Ingredient>
				<Ingredient>
					<name>Salt</name>
					<quantity>20</quantity>
				</Ingredient>
				<Ingredient>
					<name>Olive Oil</name>
					<quantity>15</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>Ramen Soup</name>
			<difficultyRating>20</difficultyRating>
			<expectedCookTime>10000</expectedCookTime>
			<reward>35</reward>
			<KitchenTools>
				<KitchenTool>
					<name>Spoon</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Oven</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Stove</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Cup</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Bowl</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>Flour</name>
					<quantity>250</quantity>
				</Ingredient>
				<Ingredient>
					<name>Egg</name>
					<quantity>1</quantity>
				</Ingredient>
				<Ingredient>
					<name>Salt</name>
					<quantity>7</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
		<Dish>
			<name>The Ultimate Breakfast</name>
			<difficultyRating>10</difficultyRating>
			<expectedCookTime>15000</expectedCookTime>
			<reward>54</reward>
			<KitchenTools>
				<KitchenTool>
					<name>Spoon</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Pan</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Oven</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Stove</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Knife</name>
					<quantity>1</quantity>
				</KitchenTool>
				<KitchenTool>
					<name>Plate</name>
					<quantity>1</quantity>
				</KitchenTool>
			</KitchenTools>
			<Ingredients>
				<Ingredient>
					<name>Cherry Tomato</name>
					<quantity>100</quantity>
				</Ingredient>
				<Ingredient>
					<name>Bread</name>
					<quantity>15</quantity>
				</Ingredient>
				<Ingredient>
					<name>Olive Oil</name>
					<quantity>25</quantity>
				</Ingredient>
				<Ingredient>
					<name>Bread Crumbs</name>
					<quantity>10</quantity>
				</Ingredient>
				<Ingredient>
					<name>Gouda Cheese</name>
					<quantity>30</quantity>
				</Ingredient>
				<Ingredient>
					<name>Egg</name>
					<quantity>1</quantity>
				</Ingredient>
				<Ingredient>
					<name>Salt</name>
					<quantity>5</quantity>
				</Ingredient>
				<Ingredient>
					<name>Black Pepper</name>
					<quantity>5</quantity>
				</Ingredient>
			</Ingredients>
		</Dish>
	</Dishes>
</Menu>