/_balbazar
/_cat
/_echo
/_forktest
/_grep
/_init
/_kill
/_ln
/_ls
/_mkdir
/_picachu
/_read
/_rm
/_sanity
/_sh
/_stressfs
/_usertests
/_wc
/_zombie
/.project
/fs.img
/initcode.out
/kernel
/mkfs
/xv6.img
